/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');

/* ========================== MAIN PAGE ELEMENTS ========================== */
body, #main {
    background-color: #cbcacf;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 11pt;
    font-weight: 400;
    letter-spacing: 1px;
    position: relative;
    min-height: 98vh;
}
p {
    font-size: 10.5pt;
    letter-spacing: 0.5pt;
    margin-top: 15px;
    margin-bottom: 0px;
}
a {
    color: #f0e7ec;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
a:hover {
    color: #ffbbae !important;
    text-decoration: none;
}
h1 {
    font-size: 40px;
    color: #cbcacf;
    padding: 30px;
}
h2, h4 {
    font-size: 15pt;
    color: #313c42;
    margin-top: 6px;
    letter-spacing: 2px !important;
}
h6 {
    color: #47555e;
    letter-spacing: 0.5pt;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 12pt;
    font-weight: bold;
    text-transform: none;
}
.banner {  /* header */
    background-color: #313c42;
    color: #cbcacf;
    padding: 15px;
}
.logo {  /* app logo */
    height: 70px;
    margin-left: 10px;
}
.banner .col-3 {  /* navigation links */
    text-align: right;
    font-size: 12pt;
    letter-spacing: 1.5pt;
    width: auto;
    align-items: center;
    display: flex;
    margin-right: 20px;
}
.app {  /* main app container */
    color: #372e27 !important;
    padding: 30px;
}
#select-subject {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 375px;
    padding: 0px 0px 5px 3px;
    margin-bottom: -45px;
}
#select-subject > i {
    font-size: 14pt;
}
#qa-section {
    position: relative;
    display: block;
    align-items: stretch;
    width: 100%;
}
#data-summary-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: -10px;
}
.data-summary {  /* data summary panel */
    background-color: #f0e7ec;
    color: #313c42;
    border-radius: 3px;
    min-width: 370px;
    max-width: 370px;
    word-wrap: break-word;
    height: 100%;
    float: left;
    padding: 15px;
    position: absolute;
    bottom: 0;
    height: 290px;
}
.data-summary-divs {
    display: block;
}
.data-summary h2 {  /* data summary title */
    margin-top: 0;
    float: left;
    /*padding-bottom: 5px;*/
}
.data-about {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1pt;
    padding-right: 5px;
}
.data-label {
    letter-spacing: 0.3pt;
    font-size: 10pt;
}
.qa {  /* data quality figure container */
    max-width: 100%;
    padding-left: 395px;
    height: auto;
    width: 100%;
}
.qa-charts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-eye {
    font-size: 20px;
    margin-right: 8px;
    color: #313c42;
}
.qa-charts-selection {
    display: flex;
    align-items: center;
}
#subject-dropdown {
    padding: 0px 5px 0px 5px;
    width: 350px;
}
#subject-dropdown .Select.is-disabled {
    color: #bababa;
}
#subject-dropdown .Select.is-disabled > .Select-control {
    color: #bababa;
    border: 1px solid #bababa !important;
}
#segment-dropdown {
    padding: 0px 5px 0px 5px;
    width: 70px;
}
#subject-dropdown > .is-open,
#segment-dropdown > .is-open {
    font-weight: 400;
}
#qa-charts-dropdown {
    width: 170px;
}
#subject-dropdown .Select-control,
#qa-charts-dropdown .Select-control,
#segment-dropdown .Select-control {
    border: 1px solid #de7765 !important;
    height: 30px !important;
}
#subject-dropdown .Select-input {}
#qa-charts-dropdown .Select-input,
#segment-dropdown .Select-input {
    height: 30px !important;
}
/*#subject-dropdown .Select-value,*/
#qa-charts-dropdown .Select-value,
#segment-dropdown .Select-value {
    line-height: 30px !important;
}
.bottom {  /* footer */
    position: fixed !important;
    height: 3.5rem;
    bottom: -5px;
    width: 100%;
    text-align: center;
    background-color: #313c42;
    color: #cbcacf;
    padding-top: 1.1rem;
}
.modal-backdrop {
    --bs-backdrop-opacity: 0.6 !important;
}

/* ========================== OFFCANVAS ELEMENTS ========================== */
.h5 {
    text-transform: none !important;
    letter-spacing: 0px;
    color: #313c42;
    font-size: 22pt;
    font-weight: 800;
}
.offcanvas-header {
    height: 10px;
}
.offcanvas-header .btn-close {
    margin-top: 2px;
    background-color: transparent;
}
.offcanvas-body {
    padding-top: 5px;
}
.offcanvas-body h4 {
    padding-top: 15px;
}
.btn-close:hover {
    background-color: transparent !important;
}
#run-data:disabled, #configure:disabled, #export-summary:disabled {
    background-color: #bababa;
    pointer-events: none;
}
#configure:disabled {
    background-color: #bababa;
    pointer-events: none;
}
#setup-data p, #setup-data span {
    font-weight: 600;
}
#setup-data h4 {
    display: flex;
    align-items: center;
    margin-top: 0;
    padding-top: 15px;
}
.Select-clear {
    font-weight: normal !important;
}
#data-type-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
#data-types {
    margin-left: 10px;
}
#segment-data span, #artifact-params > span {
    font-weight: 600;
    padding-right: 5px;
}
#artifact-params > div {
    padding: 8px 0px 0px 0px;
}
#artifact-params > div > span {
    font-weight: 600;
    padding-right: 5px;
}
#artifact-params button {
    background: none;
    color: #55595c;
    font-size: 13pt;
    width: 20px;
    height: 20px;
    padding-inline: 0;
    display: inline-flex;
    align-content: center;
    align-items: center;
}
#artifact-params button:hover {
    background: none !important;
}
#artifact-method {
    height: 34px;
    margin-top: 5px;
    font-size: 10pt;
}
#select-beat-detector {
    margin-top: 5px;
}
#select-beat-detector > span {
    font-weight: 600;
}
#beat-detectors {
    font-size: 10pt;
}
#data-variables {
    margin-top: 8px;
}
.form-check-input[type=radio] {
    width: 1em
}
.form-check-input:checked[type=radio] {
    background: #ffa891;
}
#variables-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#variable-mapping-check {
    display: inline-block;
    color: #d32f2f;
    font-size: 11px;
    font-weight: 600;
    font-style: italic;
    align-items: center;
}
/* --- toggle switches -----------------------------------------------------*/
#toggle-resample {
    display: inline-block;
}
#toggle-resample .igrnnx, #toggle-resample .dlqMgb {
    width: 18px !important;
    height: 18px !important;
}
#toggle-resample label {
    margin-top: 2px;
    margin-left: 5px;
    padding-right: 10px;
    font-size: 11pt;
}
.sc-bxivhb {
    width: 40px !important;    /* all toggler size */
    height: 22px !important;
}
#toggle-config {
    padding-top: 18px;
    padding-bottom: 13px;
    display: inline-block;
}
#toggle-config button,
#toggle-filter button {
    position: fixed;
    top: 2px;
    z-index: 999;
    height: 18px;
    width: 18px;
}
/*#toggle-config .cmSQpo,*/
/*#toggle-config .iDDlvD {  !* toggle track *!*/
/*    position: relative;*/
/*    height: 22px;*/
/*    width: 45px;*/
/*}*/
#toggle-config .igrnnx,
#toggle-filter .igrnnx {  /* toggle is OFF */
    left: 10%;
}
#toggle-config .dlqMgb,
#toggle-filter .dlqMgb{  /* toggle is ON */
    left: 0px;
    transform: translateX(22px)
}
#toggle-config label {
    margin: 1px 0px 0px 5px;
    display: inline-block;
    font-size: 11.5pt;
    font-weight: 600;
    letter-spacing: 0.5pt;
}
#toggle-filter {
    display: inline-flex;
}
#toggle-filter label {
    margin: 1px 0px 0px 5px;
    font-weight: 600;
    font-size: 11pt;
    padding-right: 0px;
}
/* -------------------------------------------------------------------------*/
#filter-data {
    display: flex;
}
#segment-data {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
/* --- help icons ----------------------------------------------------------*/
#filter-help {
    margin-left: 5px;
    font-size: 13pt;
    margin-top: 3px;
}
#seg-data-help, #artifact-tol-help {
    margin-left: 5px;
    padding-right: 10px;
    font-size: 13pt;
    margin-top: 1px;
}
/* --- file uploaders ------------------------------------------------------*/
#dash-uploader label {  /* data file uplaoder */
    margin-top: 0px;
}
#config-uploader { /* configuration file uploader */
    line-height: 30px !important;
    min-height: 30px !important;
    border-radius: 5px;
    border-color: #ee8a78;
    color: #de7765;
    text-align: center;
    border: 1px dashed;
    padding: 5px;
    cursor: pointer;
}
#config-uploader label {
    margin-top: 0px;
}
#file-check {  /* data upload confirmation text */
    font-size: 11px;
    font-style: italic;
    margin-top: 5px;
    float: right;
    margin-top: 5px;
}

/* ====================== DATA UPLOAD & PROGRESS BARS ===================== */
.progress-bar {
    background-color: #ee8a78 !important;
}
.progress-output {
    font-size: 12px;
    font-style: italic;
    letter-spacing: 0.3pt;
}
#progress-bar {
    float: right;
    /*margin-right: 10px;*/
    margin-top: -30px;
    width: 175px;
    height: 20px;
    background-color: transparent;
    border-radius: 5px;
}
#export-progress-bar {
    margin-top: 5px;
    height: 15px;
    background: transparent;
    border-radius: 5px;
    visibility: hidden;
}

/* =============================== TOOLTIPS =============================== */
.tooltip-inner {
    background-color: #313c42;
    color: #ffffff;
    font-family: Poppins, sans-serif;
    font-size: 9pt;
    letter-spacing: 0.5pt;
    font-weight: 400;
    border-radius: 5px;
}
.bs-tooltip-top .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
    border-top-color: #313c42;
}
.bs-tooltip-end .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
    border-right-color: #313c42;
}
.bs-tooltip-bottom .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before {
    border-bottom-color: #313c42;
}
.bs-tooltip-start .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before {
    border-left-color: #313c42;
}
.rc-slider-tooltip-inner {
    background-color: #f0e7ec;
    color: #313c42;
    border: 1px solid #c6c6c6;
}

/* ========================== USER INPUT ELEMENTS ========================= */
input[type="number"] {
    line-height: 18px;
    width: 55px;
    color: #313c42;
}
input[type="number"]:disabled {
    color: grey;
}
#artifact-tol {
    width: 45px;
}
.form-check-inline {
    display: inline-flex;
    align-items: center;
    margin-right: 0.7rem;
}
.form-check-input[type=radio] {
    border: 2px solid #ee8a78;
    background-color: #ffffff
}
.form-check-input:checked {
    background-color: #ffa891;
    border-color: #ffa891;
}
.form-check-label {
    margin-left: 10px;
}
input[type="text"] {
    width: 300px;
    color: #313c42;
    letter-spacing: 1px;
}
button {
    background-color: #47555e;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    border: 2px solid transparent !important;
    color: #ffffff;
    text-align: center;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
}
button:hover {
    background-color: #313d44 !important;
    color: #ffffff;
    cursor: pointer !important;
}
#resample {
    display: inline-flex;
    align-items: center;
    float: right;
    font-weight: 600;
}
#resample data {
    display: flex;
    align-items: center;
}
#resample-data label {
    margin-top: 0;
    padding-right: 10px;
}
.setup-data-dropdowns {  /* dbc.Row containing dropdowns */
    --bs-gutter-x: 0.5rem !important;
    font-size: 10pt;
    margin-top: 3px;
}
.Select-control {  /* dropdown menus */
    border: 1px dashed #777777 !important;
    color: #372e27;
}
.Select-placeholder {  /* placeholder text in dropdowns */
    color: #777777 !important;
}
.Select-clear {  /* clear 'x' in dropdowns */
    line-height: 34px !important;
}
#setup-timestamp {  /* dropdown 1*/
    flex: 1 0 20%;
}
#setup-cardio {  /* dropdown 2*/
    flex: 1 0 8%;
}
#run-save-buttons {
    margin-top: -5px;
}
#run-data {  /* run button */
    width: 100px;
    margin-top: 20px;
    min-width: 90px;
}
#stop-run {  /* stop button*/
    width: 100px;
    min-width: 100px;
    margin-top: 20px;
    margin-left: -100px;
    background-color: #ee8a78;
}
#configure {  /* save button */
    width: 100px;
    margin-left: 10px;
    margin-top: 20px;
}
.variables {  /* map variables header */
    margin-top: 5px;
}
label {
    padding-right: 15px;
    margin-top: 5px;
}
.fa-arrow-right-arrow-left {
    color: #ffa891;
    font-size: 12pt;
}
.fa-pen-to-square {     /* reload data icon */
    color: #313d44;
    margin-left: 85px;
    font-size: 17pt;
    cursor: pointer;
}
.fa-pen-to-square:hover {
    color: #ee8a78;
}
.fa-solid.fa-circle-xmark {
    color: #cf0e22;
    margin-right: 5px;
}
/* ============================= ERROR POP-UPS ============================ */
.validation-error-modal i {
    font-size: 22pt;
    margin-right: 20px !important;
}
#mapping-validator .modal-content {
    min-width: 550px;
    background-color: #fee4e1;
    border-bottom: 5px solid #cf0e22;
}
#dtype-validator .modal-content {
    max-width: 460px;
    background-color: #fee4e1;
    border-bottom: 5px solid #cf0e22;
}
#artifact-identification-modal .modal-content {
    max-width: 520px;
    background-color: #fff;
    border-bottom: 5px solid #ee8a78;
}
.validation-error-modal .modal-body{
    padding-right: 0;
}
.validation-content {
    display: inline-flex;
    align-items: center;
}
.information-content {
    display: inline-flex;
    align-items: normal;
}
.validation-error h5 {
    margin: 0;
    letter-spacing: 2px;
    display: inline;
}
.validation-error p {
    margin-top: 5px;
    color: #333333;
}
.validation-error {
    display: inline;
}
.artifact-method-info {
    display: block;
    width: 400px;
}
.validation-error-modal button {
    background: none;
    width: 20px;
    height: 30px;
    padding: 0;
    position: relative;
    color: #372e27;
    margin-top: -50px;
    margin-left: 75px;
    margin-right: 10px;
}
.validation-error-modal button:hover {
    background: none !important;
    color: #ee8a78 !important;
}
#artifact-identification-modal button {
    background: none;
    width: 20px;
    height: 30px;
    padding: 0;
    position: relative;
    color: #372e27;
    margin-left: 0px;
    margin-top: -3px;
}
#artifact-identification-modal button:hover {
    background: none !important;
    color: #ee8a78 !important;
}
.artifact-method-info h5 {
    margin: 0;
    letter-spacing: 2px;
    display: inline;
}
.artifact-method-info p {
    margin-top: 10px;
    margin-right: 15px;
    color: #333333;
    display: block;
}
.artifact-method-info p > span {
    display: block;
    font-size: 10pt;
    text-align: justify;
}
.validation-error-modal .fa-solid.fa-xmark {
    font-size: 13pt;
}
/* ============================ CHART ELEMENTS ============================ */
.figs {  /* chart container */
    padding: 9px;
    font-size: 14px;
    background-color: #f0e7ec;
    border-radius: 3px;
    height: auto;
}
#sqa-plot {
    height: 286px;
}

/* ============================ SUMMARY TABLE ============================= */
.table {
    --bs-table-bg: #f0e7ec;
    --bs-body-color: #313c42;
}
table, tbody {
    margin-top: 15px;
    border: 0 !important;
    color: #313c42 !important;
}
tr, td {
    padding: 0 !important;
    border-style: none;
    padding-left: 5px;
    font-size: 10pt;
    letter-spacing: 0.3pt;
    line-height: 18pt;
}
th {
    text-align: left !important;
    text-transform: none !important;
    font-size: 1.0rem !important;
    padding: 0 !important;
    border-style: none !important;
}
td:first-child {  /* style only first column */
    width: 295px !important;
}
td:nth-child(2) { /* style the second column */
    text-align: right;
}
th:first-child {  /* style only first table header */
    text-align: left !important;
    letter-spacing: 1pt;
    padding: 0 !important;
    text-transform: uppercase !important;
    font-size: 12pt !important;
    line-height: 20pt !important;
}

/* ===================== CONFIGURATION EXPORTER MODAL ===================== */
#config-check, #export-confirm {
    text-align: center;
    padding: 5px 0px 5px 0px;
}

/* ======================== SUMMARY EXPORTER MODAL ======================== */
.modal-content {
    border-radius: 5px !important;
}
#export-modal .modal-body {
    padding-bottom: 0.5em;
}
#ok-export, #config-btn {
    background-color: #47555e;
    position: relative;
    float: left;
    max-width: 225px;
}
#ok-export:hover, #config-btn:hover {
    background-color: #313d44;
}
#close-export, #close-config1 {
    background-color: #bbbbbb;
    padding: 8px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    position: relative;
    float: right;
    max-width: 225px;
}
#close-export2, #close-config2 {
    background-color: #47555e;
    padding: 8px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    position: relative;
}
#close-export:hover, #close-config1:hover {
    background-color: #969696 !important;
}
.fa-download {
    color: #ee8a78;
    font-size: 14pt;
}
.export-options {
    width: auto;
    display: flex;
    justify-content: space-evenly;
}
#export-description label {
    padding-right: 0px;
    font-weight: 600;
}
#export-mode .form-check-label,
#export-type .form-check-label {
    /*display: inline-flex;*/
    align-items: center;
    padding-right: 10px;
    font-weight: 400;
}

/* =========================== RAW PLOT SECTION =========================== */
.raw-plots {
    margin-top: 25px;
    margin-bottom: 50px;
}
.graph-settings {
    margin-bottom: 15px;
    height: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.graph-settings button {
    background: none;
    width: 20px;
    height: 30px;
    padding: 3px 0px 1px 0px;
    position: relative;
}
.graph-settings button:hover {
    background: none !important;
    color: #ee8a78 !important;
}
.graph-settings i {
    color: #313c42;
    font-size: 14pt;
}
.graph-settings i:hover {
    color: #dc6c59;
}
.segment-view {
    display: flex;
    align-items: center;
    float: left;
}
.segment-view h5 {
    margin: 0px;
    padding-right: 5px;
    letter-spacing: 2px;
    color: #313c42;
    font-size: 13pt !important;
}
#graph-settings-left {
    display: flex;
    align-items: center;
}
#graph-settings-left > h4 {
    margin: 0;
}
#graph-settings-left .separator {
    padding: 2px 12px 0px 12px;
}
.processing-buttons {
    display: flex;
    align-items: center;
}
#beat-correction, 
#accept-corrections, 
#reject-corrections, 
#revert-corrections, 
#postprocess-data, 
#open-beat-editor {
    width: auto;
    height: 26px;
    background: #313c42;
    font-size: 11pt;
    display: flex;
    align-items: center;
    color: #ffffff;
    padding: 0px 4px 0px 5px;
    margin-right: 5px;
}
#beat-correction:hover, 
#accept-corrections:hover, 
#reject-corrections:hover, 
#revert-corrections:hover, 
#postprocess-data:hover, 
#open-beat-editor:hover {
    background: #ee8a78 !important;
    color: #ffffff !important;
}
#beat-correction > i,
#reject-corrections > i {  /* magic wand icon */
    transform: rotate(90deg);
    color: #ffffff;
    font-size: 10.5pt;
}
#beat-correction > span,
#postprocess-data > span,
#open-beat-editor > span {
    margin-left: 5px;
}
#accept-corrections > i, 
#revert-corrections > i,
#postprocess-data > i,
#open-beat-editor > i {  /* check icon */
    color: #ffffff;
    font-size: 10.5pt;
    margin-right: 0.2em;
}
#postprocess-option,
#beat-editor-option {
    display: inline-flex;
    align-items: center;
}
#loading-beat-editor-btn .dash-spinner.dash-dot-spinner {
    font-size: 6px !important;  /* smaller than default (12px) */
}
#beat-correction:disabled,
#revert-corrections:disabled,
#open-beat-editor:disabled,
#postprocess-data:disabled {
    background-color: #bababa;
    pointer-events: none;
}
#edits-made {
    font-weight: 600;
    font-style: italic;
    font-size: 13px;
    margin-right: 5px;
}
.separator {
    padding: 2px 7px 0px 7px;
    font-size: 15pt;
}
.raw-plots .tab {
    padding: 10px !important;
    font-size: 24px;
    background-color: #e3d6dd !important;
    color: #b2a2ab;
    border: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.raw-plots .tab:hover {
    background-color: #e3d6dd !important;
}
.raw-plots .tab--selected {
    padding: 10px;
    font-weight: 800;
    background-color: #f0e7ec !important;
    color: #313c42;
    border: 0px !important;
    border-top: 3px #47555e solid !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.raw-plots .tab--selected:hover {
    padding: 10px;
    font-weight: bold;
    background-color: #f0e7ec !important;
    color: #313c42;
    border-top: 3px #313c42 solid !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.raw-plots .tab-content {
    border: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-top: 3px;
    background-color: #f0e7ec;
}
.raw-plots .tab-header {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    color: #313c42;
    margin-left: 15px;
}

/* ============================= BEAT EDITOR ============================== */
#beat-editor-modal {
    min-width: 95%;
}
#beat-editor-modal .modal-content {
    margin-bottom: 60px;
}
#beat-editor-modal .modal-header {
    border-radius: 5px;
    padding: 10px 8px 8px 12px;
}
#beat-editor-modal .modal-body {
    padding: 0;
}
#beat-editor-modal .modal-title{
    font-size: 14pt;
    letter-spacing: 2px;
}
#beat-editor-modal .modal-footer {
    padding: 8px 8px 8px 8px;
}
#beat-editor-content {
    height: 530px;
    text-align: center;
    align-content: center;
    font-style: italic;
}
#beat-editor-buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}
#ok-beat-edits {
    min-width: 165px;
    height: 35px !important;
    padding: 0px;
}
#ok-beat-edits:disabled {
    background-color: #bababa;
    pointer-events: none;
}
#cancel-beat-edits {
    background: #bbbbbb !important;
    min-width: 135px;
    height: 35px !important;
    padding: 0px;
}
#cancel-beat-edits:hover {
    background-color: #969696 !important;
}
#beat-editor-content p {
    font-style: normal;
    margin-top: 10px;
    font-size: 10pt;
    color: #868686;
}
#beat-editor-content a {
    color: #868686;
}
#beat-editor-content a:hover {
    color: #f18a6f;
}
.fa-solid.fa-triangle-exclamation {
    color: #fad629;
}
#open-beat-editor i {
    color: #ffffff;
    font-size: 14px;
}

/* ========================== POSTPROCESS MODAL =========================== */
#postprocess-modal {
    max-width: 565px;
    margin-top: -10px;
}
#postprocess-modal .modal-header {
    padding: 10px 15px 8px 15px;
}
#postprocess-modal .modal-body {
    padding-top: 10px;
}
#postprocess-modal .modal-footer {
    padding: 5px 10px 5px 10px;
    display: flex;
    justify-content: space-between;
}
#select-all {
    color: #ee8a78;
    font-size: 9.5pt;
    letter-spacing: 0.5pt;
    margin: 0 1px 0 1px;
}
#select-all:hover {
    color: #55595c !important;
    cursor: pointer;
}
#postprocess-outputs {
    padding-top: 5px;
    padding-bottom: 8px;
}
#postprocess-outputs > label,
#postprocess-modal .export-options > div > label {
    font-weight: 600;
    padding-right: 0px;
}
#postprocess-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
    letter-spacing: 0.5pt;
    align-items: start;
}
#postprocess-options > .form-check {
    margin-bottom: -0.1em;
}
#postprocess-options .form-check-input {
    border: 2px solid #f18a6f;
    border-radius: 3px;
}
#postprocess-params-container {
    opacity: 0.5;
    font-style: italic;
}
#postprocess-params-container > label {
    font-weight: 600;
    padding-right: 0px;
}
#postprocess-params {
    font-size: 10pt;
    display: flex;
    gap: 4rem;
    padding: 8px 5px 10px 0px;
    pointer-events: auto !important;
}
#postprocess-params-left, #postprocess-params-right {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}
#postprocess-params-left input[type="number"] {
    width: 50px;
}
#postprocess-params-right input[type="number"] {
    width: 40px;
}
#postprocess-modal .export-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem 0rem;
    letter-spacing: 0.5pt;
    align-items: start;
}
#postprocess-modal-buttons {
    display: flex;
    gap: 0.5em;
    float: right;
}
#postprocess-modal-buttons button {
    padding: 6px 8px 6px 8px;
}
#cancel-postprocess {
    background-color: #bbbbbb;
}
#cancel-postprocess:hover {
    background-color: #969696 !important;
}
#postprocess-progress-bar {
    margin-top: 5px;
    height: 20px;
    width: 285px;
    background-color: #f0f0f0;
    border-radius: 5px;
    visibility: hidden;
}
hr.light-divider {
    border: none;
    border-top: 1px dotted #969696;
    margin: 0.25rem 0rem;
}
.toast {
    border: 2px solid #efe7ec;
    border-radius: 10px;
    background: #ffffff;
    --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}
.toast-header {
    color: #313c42;
    border-bottom: 1px solid #e7e7ec;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.toast-body {
    font-size: 10pt;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}